/* GENERALES */

* {
  font-family: 'Bebas Neue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 100;

}

body {
  background: #393E46;
}

button {
  background-color: #53718800;
  margin: 5px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px;
  border: #53718800;
}

a {
  color: #53718800;
}

/* NAVEGACION */

.nav {

  background-color: #121417;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  padding: 10px;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.button-nav {
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  z-index: 0;
  background: #4c565d35;
  overflow: hidden;
  border: none;
}

.button-nav:hover {
  color: #FFF;
}

.button-nav:hover:after {
  height: 100%;
}

.button-nav:after {

  content: "";
  position: absolute;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #00ADB5;


}


ul, ol {
  list-style: none;
}

.menu-desplegable li a {
  display: block;
}

.menu-desplegable > li {
  float: left;
}

.menu-desplegable li ul {
  display: none;
  position: absolute;
  background-color: #000;
}

.menu-desplegable li:hover > ul{
  display: block;
}

.items {
  background-color: #000;
}



/* ESTILOS ESPECIFICOS */

.usuario-general__nombre {
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  background-color: #121417;
  padding: 20px;
  margin: 30px;
  box-shadow: 7px 13px 37px #000;
  border-top: 5px solid #00ADB5;
}




.usuario-general {
  display: flex;
  flex-direction: column;
}


.usuario-general__cuerpo {
  margin: 5px 30px 10px;
}


.usuario-general__cuerpo__h2 {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #FFFFFF;
}

.buttons {
  width: 100%;
  background-color: #53718800;
  border-radius: 0.5em;
  margin: 5px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px;
  border-color: #00ADB5;
  margin-bottom: 15px;
}


.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 80%;
}

.personalInfoButtons{
  display: flex;
 justify-content: flex-end;
}

.proyectos {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 80%;
}

.card-proyecto {
  display: grid;
  place-items: center;
  max-width: 21.875rem;
  overflow: hidden;
  border-radius: 0.625rem;
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-bottom: 20px;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

label {
  color: #242525;
  font-weight: bold;
  }

  main{
    display: grid;
    align-content: space-around;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10vh;
    justify-items: center;
  }

  .buttonUser {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   .buttonUser::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #3348bb;

    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .buttonUser:hover {
    color: #e8e8e8;
   }
   
   .buttonUser:hover::before {
    width: 100%;
   }

   .buttonUserDelete {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   .buttonUserDelete::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #a81a1a;

    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .buttonUserDelete:hover {
    color: #e8e8e8;
   }
   
   .buttonUserDelete:hover::before {
    width: 100%;
   }




  .card-proyecto p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
  }
  
  .card-proyecto p.small {
    font-size: 14px;
  }
  
  .go-corner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  
  .card1:hover:before {
    -webkit-transform: scale(21);
        -ms-transform: scale(21);
            transform: scale(21);
  }
  
  .card1:hover p {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card1:hover h3 {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #fff;
  }
  
  .card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card2:hover {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
            box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.15s ease-out;
    transition: -webkit-transform 0.15s ease-out;
    transition: transform 0.15s ease-out;
    transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
  }
  
  .card2:hover:before {
    -webkit-transform: scale(2.15);
        -ms-transform: scale(2.15);
            transform: scale(2.15);
  }
  
  .card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card3 .go-corner {
    opacity: 0.7;
  }
  
  .card3:hover {
    border: 1px solid #00838d;
    -webkit-box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
            box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
  }
  
  .card3:hover p {
    color: #00838d;
  }
  
  .card3:hover .go-corner {
    -webkit-transition: opactiy 0.3s linear;
    transition: opactiy 0.3s linear;
    opacity: 1;
  }
  
  .card4 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .card4 .go-corner {
    background-color: #00838d;
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    -webkit-transform: skew(6deg);
        -ms-transform: skew(6deg);
            transform: skew(6deg);
    margin-right: -36px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
  }
  
  .card4 .go-arrow {
    -webkit-transform: skew(-6deg);
        -ms-transform: skew(-6deg);
            transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
  }
  
  .card4:hover {
    border: 1px solid #cd3d73;
  }
  
  .card4 h3 {
    margin-top: 8px;
  }
  
  .card4:hover .go-corner {
    margin-right: -12px;
  }
  
  .card4:hover .go-arrow {
    opacity: 1;
  }



  .personalInfoButtons button:disabled {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      transition: none !important; 
      animation: none !important; 
  }
  

.buttonUser:disabled,
.buttonUser[disabled] {
    pointer-events: none; 
    color: #666666; 
    background-color: #cccccc; 
    box-shadow: none; 
}

.buttonUser:disabled:hover,
.buttonUser[disabled]:hover {
    transition: none; 
}


  #closeUser{
    margin: 0 auto;
    transform: translateY(150%);
    width: 40%;
    padding:1em;
    border-radius: 1em;
    border: none;
    background: lightgrey;
  }

  #closeUserContent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .checkbox-wrapper {
    margin: 10px;
    display: flex;
    align-items: center;
}

.checkbox-wrapper label {
    margin-right: 10px; 
}

  dialog::backdrop {
    background-color: rgba(0, 0, 0, .55);
}

.programadorSection{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 20px;
}




#modalUser {
  margin: 0 auto;
  transform: translateY(10em);
  width: 450px;
  height: 200px;
  text-align: center;
  border-radius: 1em;
  border: none;
  background: lightgrey;
  display: flex;
  flex-direction: column;
    justify-content: center;
}

#modalUser div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#modalUser h1 {
  color: black;
  margin-top: 5px;
  font-weight: bold;
}

#modalUser button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}


#modalUser button:hover {
  transform: scale(1.02);
  transform: translateY(-5px);
  background-color: #00ADB5;
  color: #FFF;
}

#modalUserContent {
  color: black;
  margin-top: 20px;
}